 
@font-face {
    font-family: Trip-sans;
    src: url(assets/TripSans-Regular.ttf);
}



:root {
    --page-bg: #081526;
    --page-txt: #e8f0fa;
    --footer-bg: #0f233d;
    --jobtitle-txt: #ececec;
    --scrollbar-thumb: #b1b1b1;
    --scrollbar-bg: #ececec;
    --divider-bg: #15273d;
    --adobe-1: #081526;
    --adobe-2: #DB3A61;
    --adobe-3: #04bfbf;
    --adobe-4: #f2dfbb;
    --adobe-5: #bf6e50;
    --card-hover: #102847;
    --photo-card-hover: #163257;
    --collection-window-bg: #102847;
    --desc-txt: #dbdbdb;
    --photo-preview-bg: #000000af;
}




/*     ____    ____  ______      __  ___  ___      ____  _   __ 
      / __ )  /  _/ / ____/     /  |/  / /   |    /  _/ / | / /
     / __  |  / /  / / __      / /|_/ / / /| |    / /  /  |/ /
    / /_/ / _/ /  / /_/ /     / /  / / / ___ |  _/ /  / /|  /
   /_____/ /___/  \____/     /_/  /_/ /_/  |_| /___/ /_/ |_/
big main */

body, html {
    font-family: Heebo;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: default;
    width: 100vw;
    min-width: 100vw;
    background-color: var(--page-bg);
    color: var(--page-txt);
}

p, h1, h2, h3, h4, h5, h6, span {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.disable {
    /* nft websites can't figure this out when it took me a quick google search */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.deactivate {
    pointer-events: none;
}
.activate {
    pointer-events: all;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: overlay;
    overflow-x: hidden;
    position: relative;
    z-index: 5;
    scrollbar-gutter: none;
}
main div {
    width: 100vw;
}

.round {
    border-radius: 50%;
}

a {
    color: var(--page-main);
}

.push {
    margin-left: auto;
}

.hidden {
    display: none !important;
}

.desc {
    color: var(--desc-txt);
}


/*     _____   ______  ____    ____    __      __      ____    ___      ____   
      / ___/  / ____/ / __ \  / __ \  / /     / /     / __ )  /   |    / __ \ 
      \__ \  / /     / /_/ / / / / / / /     / /     / __  | / /| |   / /_/ /
     ___/ / / /___  / _, _/ / /_/ / / /___  / /___  / /_/ / / ___ |  / _, _/
    /____/  \____/ /_/ |_|  \____/ /_____/ /_____/ /_____/ /_/  |_| /_/ |_|
scrollbar*/


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-corner {
    background: var(--page-bg);
  }
  ::-webkit-scrollbar-track {
    background: var(--page-bg);
  }


/*haha i stole this code from the dogecoin website*/

/*     __  ___  ___      ____  _   __      ____    ____  ______ 
      /  |/  / /   |    /  _/ / | / /     / __ )  /  _/ /_  __/
     / /|_/ / / /| |    / /  /  |/ /     / __  |  / /    / /  
    / /  / / / ___ |  _/ /  / /|  /     / /_/ / _/ /    / /  
   /_/  /_/ /_/  |_| /___/ /_/ |_/     /_____/ /___/   /_/  
main bit*/

.big-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;;
    left: 0px;
    background-image: url("assets/background/_1230004.jpg");
    background-size: cover;
    background-position: center;
}

.title-area {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.namething {
    padding-top: 40vh;
    font-size: 1.5em;
}

.title-area h1 {
    color: var(--page-txt);
    text-shadow: 0px 0px 5px var(--page-bg);
    font-size: 2.75em;
}

.title-area .jobtitle {
    color: var(--jobtitle-txt);
    text-shadow: 0px 0px 5px var(--page-bg);
}

.bio {
    background-color: var(--page-bg);
    text-align: center;
    padding-bottom: 2em;
}

.bio img {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    padding: 3em;
    user-select: none;
}

.bio h2 {
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    width: 100%;
    height: 0px;
    border-top: 1px solid var(--divider-bg);
}

.sneakpeek {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: var(--page-bg);
    text-align: center;
}

.sneakpeek .photos-show {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photos-show img {
    max-width: 80vw;
    width: 40em;
    user-select: none;
}

.collections-taste {
    background-color: var(--page-bg);
    text-align: center;
}

.collections-taste h1 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.list {
    display: flex;
    width: 90vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
    gap: 10px;
}

.list .card {
    width: 40em;
    /* height: 30em; */
    height: min-content;
    padding: 20px;
    padding-top: 7.5px;
    padding-bottom: 10px;
    border-radius: 20px;
    transition-duration: 250ms;
    cursor: pointer;
}
.list .card:hover {
    background-color: var(--card-hover);
}

.collection-window .list {
    width: 100%;
}

.collection-window .list .card:hover {
    background-color: var(--photo-card-hover);
}

.collection-window .list .card {
    padding: 20px;
    padding-bottom: 12px;
}
.list .card img {
    width: 40em;
    border-radius: 10px;
}
.list .card h2 {
    font-size: 1.75em;
}

.x {
    position: fixed;
    height: 3em;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.collection-window .x {
    top: 2.5em;
    right: 2.5em;
}

.photo-preview .x {
    top: 2.5em;
    right: 2.5em;
}

.collection-window-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/background/_1230004.jpg);
    background-size: cover;
}

.collection-window {
    background-color: var(--collection-window-bg);
    width: calc(100vw - 4em - 20px);
    height: calc(100vh - 4em - 20px);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.photo-preview {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: var(--photo-preview-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo-preview img {
    max-width: 80vw;
    max-height: 80vh;
}

.photo-preview h1 {
    position: fixed;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 1em;
    text-wrap: wrap;
}

.photo-preview h2 {
    position: fixed;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 1em;
    text-wrap: wrap;
}

/*     ______  ____    ____    ______  ______  ____   
      / ____/ / __ \  / __ \  /_  __/ / ____/ / __ \ 
     / /_    / / / / / / / /   / /   / __/   / /_/ /
    / __/   / /_/ / / /_/ /   / /   / /___  / _, _/
   /_/      \____/  \____/   /_/   /_____/ /_/ |_|
FOOTER */

footer {
    width: 100vw;
    min-height: 3.5em;
    display: flex;
    background-color: var(--footer-bg);
    align-items: center;
}
footer h1 {
    padding-left: 10px;
    font-size: 1.5em;
}
footer .notepad {
    height: 3.75em;
    padding: 10px;
}
footer .arrow {
    transform: rotate(90deg);
    height: 2.5em;
    aspect-ratio: 1 / 1;
    margin-right: 1em;
    cursor: pointer;
}